<table style="font-family: 宋体;font-size: 13px;border-bottom-style: thin;border-right-style: thin;border-top-style: thin">
    <caption>FQC巡检（普通）</caption>
    <thead>
    <tr>
        <td style="background-color: rgb(228,238,252);width: 20px">生产指令编号</td>
        <td style="width: 8px">W0393CKF002</td>
        <td style="background-color: #e4eefc;width: 10px">成型条件卡</td>
        <td>OK</td>
        <td style="background-color: #e4eefc">检验标准书</td>
        <td>OK</td>
        <td style="background-color: #e4eefc">周期</td>
        <td>35&quot;</td>
    </tr>
    <tr>
        <td style="background-color: #e4eefc">首件</td>
        <td>OK</td>
        <td style="background-color: #e4eefc">日期/版本章</td>
        <td>OK</td>
        <td style="background-color: #e4eefc">机台编号</td>
        <td>A2-38</td>
        <td style="background-color: #e4eefc">机台吨位</td>
        <td>550T</td>
    </tr>
    <tr>
        <td style="background-color: #e4eefc">制表日期</td>
        <td>2019-03-17</td>
        <td style="background-color: #e4eefc">班别</td>
        <td>夜班</td>
        <td style="background-color: #e4eefc">客户</td>
        <td>仁宝</td>
        <td style="background-color: #e4eefc">机种</td>
        <td>CKF50</td>

    </tr>
    <tr>
        <td style="background-color: #e4eefc">品名</td>
        <td>下盖</td>
        <td style="background-color: #e4eefc">料号</td>
        <td>FA21K000800-2</td>
        <td style="background-color: #e4eefc">材质</td>
        <td>FR3021</td>
        <td style="background-color: #e4eefc">色号</td>
        <td>901510</td>
    </tr>
    <tr>
        <td style="background-color: #e4eefc">光泽</td>
        <td>见附页</td>
        <td style="background-color: #e4eefc">色差</td>
        <td>见附页</td>
        <td style="background-color: #e4eefc">尺寸</td>
        <td>见附页</td>
        <td style="background-color: #e4eefc">变形</td>
        <td>见附页</td>
    </tr>
    </thead>
    <tbody>
    <tr style="background-color: #e4eefc">
        <th rowspan="7" style="text-align: right;vertical-align: top">外观</th>
        <th rowspan="3" colspan="2">时间段</th>
        <th>检验项目</th>
        <th colspan="20">外观</th>
        <th rowspan="3">抽检总数</th>
        <th rowspan="3">抽检不良数</th>
        <th rowspan="3">生产数</th>
        <th rowspan="3">品管批退数</th>
        <th rowspan="3">良品数</th>
        <th rowspan="3">判定</th>
    </tr>
    <tr style="background-color: #e4eefc">
        <th>检查重点</th>
        <th>素材毛边</th>
        <th>素材毛屑</th>
        <th>素材油污</th>
        <th>素材刮碰伤</th>
        <th>缩水</th>
        <th>缺料</th>
        <th>起仓</th>
        <th>素材杂质</th>
        <th>結合线</th>
        <th>素材拉模</th>
        <th>结构斷裂</th>
        <th>素材实配状况</th>
        <th>素材折裂测试</th>
        <th>包材是否正确</th>
        <th>外标签</th>
        <th>素材色差</th>
        <th>素材內标签（版本、料号、日期）</th>
        <th>结构印
            断差
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr style="background-color: #e4eefc">
        <th>检查方式</th>
        <th>目测</th>
        <th>目测</th>
        <th>目测</th>
        <th>目测</th>
        <th>目测</th>
        <th>目测</th>
        <th>目测</th>
        <th>目测</th>
        <th>目测</th>
        <th>目测</th>
        <th>目测</th>
        <th>目测</th>
        <th>目测</th>
        <th>目测</th>
        <th>目测</th>
        <th>目测</th>
        <th>目测</th>
        <th>目测</th>
        <th>目测</th>
        <th>目测</th>
        <th></th>
    </tr>
    <tr>
        <td colspan="2">07:30~10:30
            19:30~22:30
        </td>
        <td style="text-align: center">-</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2">10:30~13:30
            22:30~01:30
        </td>
        <td style="text-align: center">-</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2">13:30~16:30
            01:30~04:30
        </td>
        <td style="text-align: center">-</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2">16:30~19:30
            04:30~07:30
        </td>
        <td style="text-align: center">-</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>20</td>
        <td>0</td>
        <td>0</td>
        <td>20</td>
        <td>20</td>
        <td>360</td>
        <td>360</td>
        <td>0</td>
        <td>NG</td>
    </tr>
    <tr>
        <td colspan="3" style="background-color: rgb(228,238,252);text-align: center">合计</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>20</td>
        <td>0</td>
        <td>0</td>
        <td>20</td>
        <td>20</td>
        <td>360</td>
        <td>360</td>
        <td>0</td>
        <td>-</td>
    </tr>
    <tr>
        <td rowspan="3" style="text-align: right;vertical-align: top;background-color: #e4eefc">注意事項</td>
        <td colspan="3" style="background-color: #e4eefc"> 1) 落球测试判定</td>
        <td>NA</td>
        <td colspan="3" style="background-color: #e4eefc">2).冰醋酸測試（依SIP要求）</td>
        <td>NA</td>
        <td colspan="3" style="background-color: #e4eefc">3).扭拉力測試</td>
        <td>NA</td>
    </tr>
    <tr>
        <td colspan="3" style="background-color: #e4eefc"> 4).RoHS 要求：4.1.量測儀器是否有貼G.P免校(或SG.P免校)</td>
        <td>OK</td>
        <td colspan="3" style="background-color: #e4eefc">4.2. 治具﹑夾具是否有貼G.P免校(或SG.P免校)</td>
        <td>OK</td>
    </tr>
    <tr>
        <td colspan="3" style="background-color: #e4eefc"> 4.3.成品,移轉品外箱是否加貼G.P.PASS(或SG.P PASS)</td>
        <td>OK</td>
        <td colspan="3" style="background-color: #e4eefc">4.4.副資材是否為「副資材清冊」中已登錄之材料</td>
        <td>OK</td>
    </tr>
    <tr>
        <td style="background-color: #e4eefc">每日生产总数</td>
        <td>360</td>
        <td style="background-color: #e4eefc">投入数</td>
        <td>477</td>
        <td style="background-color: #e4eefc">良品数</td>
        <td>360</td>
        <td style="background-color: #e4eefc">不良数</td>
        <td>117</td>
    </tr>
    <tr style="background-color: rgb(228,238,252)">
        <td rowspan="5"
            style="text-align: right;vertical-align: top;">铜钉规格各项确认
        </td>
        <td>铜钉标准</td>
        <td>铜钉实测值</td>
        <td>铜钉厂商</td>
        <td>贴附实物</td>
        <td>判定</td>
    </tr>
    <tr>
        <td>M2.0*L3.0*OD3.6</td>
        <td>M2.0*L2.98*OD3.56</td>
        <td>和谐山川</td>
        <td></td>
        <td>OK</td>
    </tr>
    <tr>
        <td>M2.5*L3.0*OD4.2</td>
        <td>M2.5*L2.98*OD4.18</td>
        <td>和谐山川</td>
        <td></td>
        <td>OK</td>
    </tr>
    <tr>
        <td>M2.0*L2.0*OD3.6</td>
        <td>M2.0*L1.96*OD3.56</td>
        <td>和谐山川</td>
        <td></td>
        <td>OK</td>
    </tr>
    <tr>
        <td>M3.0*L2.0*OD4.6</td>
        <td>M3.0*L2.0*OD4.62</td>
        <td>和谐山川</td>
        <td></td>
        <td>OK</td>
    </tr>
    <tr>
        <td style="background-color: rgb(228,238,252)">外箱标签内容</td>
        <td colspan="7"></td>
    </tr>
    <tr style="background-color: #e4eefc">
        <td style="text-align: right;vertical-align: top" rowspan="5">内标签内容确认</td>
        <td>時段</td>
        <td>左</td>
        <td>中</td>
        <td>右</td>
    </tr>
    <tr>
        <td>第一時段</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>第二時段</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>第三時段</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>第四時段</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td style="background-color: #e4eefc">当线品管</td>
        <td>李吉芳</td>
        <td style="background-color: #e4eefc">核准</td>
        <td>姜兰</td>
        <td style="background-color: #e4eefc">审核</td>
        <td>姜兰</td>
        <td style="background-color: #e4eefc">填表人</td>
        <td>李吉芳</td>
    </tr>
    <tr>
        <td style="background-color: #e4eefc">文件编号</td>
        <td>JT-QR-06-I</td>
        <td style="background-color: #e4eefc">文件版本</td>
        <td>A1</td>
    </tr>
    <tr>
        <td style="background-color: #e4eefc">备注</td>
        <td colspan="8"></td>
    </tr>
    </tbody>
</table>