<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table style="text-align: center;vertical-align: center;border-bottom-style: thin;border-left-style: thin;border-right-style:thin;">
    <% if(sheetName!=null){ %>
    <caption>${sheetName}</caption>
    <% } %>

    <% if(titles!=null){ %>
    <thead>
    <tr style="font-weight: bold;font-size: 14px;">
        <% for(t in titles){ %>
        <th>${t}</th>
        <% } %>
    </tr>
    </thead>
    <% } %>

    <% if(contents!=null){ %>
    <tbody>
    <% for(c in contents){ %>
    <tr
    <% if(cLP.even){ %> style="background-color: #8FBC8F;" <% } %> >
        <% for(d in c){ %>
        <td>${d}</td>
        <% } %>
    </tr>
    <% } %>
    </tbody>
    <% } %>
</table>
</body>
</html>