<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<%
DIRECTIVE SAFE_OUTPUT_OPEN;
%>
<table style="border-bottom-style: thin;border-left-style: thin;border-right-style:thin;">
    <% if(sheetName!=null){ %>
    <caption>${sheetName}</caption>
    <% } %>

    <% if(isNotEmpty(titles)){ %>
    <thead style="font-weight: bold;font-size: 14px; text-align: center; vertical-align: center">
    <tr>
        <% for(t in titles){ %>
        <th>${t}</th>
        <% } %>
    </tr>
    </thead>
    <% } %>

    <% if(isNotEmpty(contents)){ %>
    <tbody>
    <% for(c in contents){ %>
    <tr
    <% if(cLP.even){ %> style="background-color: #f6f8fa;" <% } %> >
        <% for(d in c){ %>
        <td>${d}</td>
        <% } %>
    </tr>
    <% } %>
    </tbody>
    <% } %>
</table>
<%
//关闭安全输出。
DIRECTIVE SAFE_OUTPUT_CLOSE;
%>
</body>
</html>