
<!DOCTYPE html>
<html lang="en">
<table border="1" style="border-collapse:collapse;">
    <caption></caption>
    <thead>
    <tr style="background-color:#ABFF00">
        <th colspan="4" style="text-align:center;vertical-align:middle;font-weight:bold;font-size:14px;">XX见习项目经理考核月度绩效标准</th>
    </tr>
    <tr style="font-weight:bold;font-size:14px;">
        <th>姓名：朱京庄</th>
        <th>部门：XX大区</th>
        <th>员工ID：258</th>
        <th>签名ID：e4b759029c4c40aef73dc15dcdabe846002c0c4b16a66490e40cd6b936809d12</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td rowspan="9">考核项目</td>
        <td>注册人数</td>
        <td>考核目标(人)，分值</td>
        <td>30,30</td>
    </tr>
    <tr>
        <td>实际达成</td>
        <td>0</td>
        <td>1</td>
    </tr>
    <tr>
        <td>对应分值</td>
        <td></td>
        <td>1</td>
    </tr>
    <tr>
        <td rowspan="3">净增用户</td>
        <td rowspan="3">考核目标(人)，分值</td>
        <td>3,30</td>
    </tr>
    <tr>
        <td>实际达成（人)</td>
        <td>0</td>
    </tr>
    <tr>
        <td>对应分值</td>
        <td>0</td>
    </tr>
    <tr>
        <td rowspan="3">净增在投余额</td>
        <td>考核目标(万)，分值</td>
        <td>15,40</td>
    </tr>
    <tr>
        <td>实际达成（万）</td>
        <td>0</td>
    </tr>
    <tr>
        <td>对应分值</td>
        <td>0</td>
    </tr>
    <tr>
        <td>月度绩效金额</td>
        <td colspan="3">200 + 709.0*10% = 270.9 元</td>
    </tr>
    <tr>
        <td>完成率</td>
        <td colspan="3">0 %</td>
    </tr>
    <tr>
        <td colspan="4" style="text-align:left">备注：</td>
    </tr>
    <tr>
        <td colspan="4" style="text-align:left">
            1.考核月度绩效=原绩效200元中除掉用户投诉部分的100元+当月提成10%部分。如当月提成3000元，考核月度绩效为100+3000*10%=3100元。
        </td>
    </tr>
    <tr>
        <td colspan="4" style="text-align:left">
            2.发放标准：按月考核，按月发放；
        </td>
    </tr>
    <tr>
        <td colspan="4" style="text-align:left">
            3.考核月度绩效分值连续三个月或者一个自然年度内累计四次低于75分，次月降为见习项目经理；
        </td>
    </tr>
    <tr>
        <td colspan="4" style="text-align:left">
            4.考核月度绩效发放规则：以考核任务达成率100%作为标准完成率.
        </td>
    </tr>
    <tr>
        <td colspan="4">&nbsp;</td>
    </tr>
    <tr>
        <th colspan="2">考核发放规则</th>
    </tr>
    <tr>
        <td>完成率</td>
        <td>发放规则</td>
    </tr>
    <tr>
        <td>160及以上</td>
        <td>全额发放+600</td>
    </tr>
    <tr>
        <td>140~159</td>
        <td>全额发放+400</td>
    </tr>
    <tr>
        <td>120~139</td>
        <td>全额发放+200</td>
    </tr>
    <tr>
        <td>95~119</td>
        <td>全额发放</td>
    </tr>
    <tr>
        <td>85~94</td>
        <td>90%发放</td>
    </tr>
    <tr>
        <td>75~84</td>
        <td>80%发放</td>
    </tr>
    <tr>
        <td>65~75</td>
        <td>30%发放</td>
    </tr>
    <tr>
        <td>65以下</td>
        <td>0</td>
    </tr>
    </tbody>
</table>
</html>
